<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


    <title>{% block title %}{% endblock %}</title>
    {% block meta %}
        <meta property="og:site_name" content="SOS tout petits" />
    {% endblock %}

    {% block stylesheets %}

        {% stylesheets
        'bundles/n2ccore/css/bootstrap.min.css'
        'bundles/n2ccore/sass/mdb.scss'

        filter="scss,cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    {% endblock %}
</head>
<body  class="container-fluid" {% block body_attributes %}{% endblock %}>


<!-- SideNav slide-out button -->
<!--/. SideNav slide-out button -->
<header>
<!-- Sidebar navigation -->
<ul id="slide-out" class="side-nav admin-side-nav dark-side-nav">
    <!-- Logo -->
    <div class="logo-wrapper">
        <img src="http://0.gravatar.com/avatar/60efa32c26a19f3ed2e42798afb705ba?s=100&d=mm&r=g" class="img-responsive img-circle">
        <div class="rgba-stylish-strong">
            <p class="user white-text">Admin
                <br> admin@gmail.com
            </p>
        </div>
    </div>
    <!--/. Logo -->

    <!-- Side navigation links -->
    <ul class="collapsible collapsible-accordion">
        <li><a href="#intro" class="waves-effect waves-light"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#" class="waves-effect waves-light"><i class="fa fa-users"></i> Website Traffic</a></li>
    </ul>
    <!--/. Side navigation links -->

    {# knp_menu_render('n2c.navbar', {'currentClass': 'active', 'template': 'N2CCoreBundle:Menu:knp_menu.html.twig'}) #}

</ul>
<!--/. Sidebar navigation -->

<!--Navbar-->
<nav class="double-navbar navbar navbar-fixed-top unique-color z-depth-2 top-nav-collapse" role="navigation">
    <div class="container-fluid">
        <ul class="list-inline text-center pull-left">
            <!-- SideNav slide-out button -->
            <li><a href="#" id="button-collapse" data-activates="slide-out" class="waves-effect waves-light"><i class="fa fa-bars"></i></a></li>
            <!--/. SideNav slide-out button -->

        </ul>

        <!-- Navbar Icons -->
        <ul class="list-inline pull-right text-center">
            <li><a href="#" class="waves-effect waves-light" data-toggle="modal" data-target="#contact-form"><i class="fa fa-question"></i></a></li>
            <li><a href="#" class="waves-effect waves-light" data-toggle="modal" data-target="#contact-form"><i class="fa fa-cogs"></i></a></li>
            <li><a href="#" class="waves-effect waves-light" data-toggle="modal" data-target="#contact-form"><i class="fa fa-sign-out"></i></a></li>

        </ul>
        <!--/. Navbar Icons -->
    </div>
</nav>

<!--/.Navbar-->
</header>



<div style="margin-top: 70px;">
    {% block body %}{% endblock %}
</div>


<p></p>





{% block javascripts %}


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    {% javascripts
        'bundles/n2ccore/js/mdb.js'
        'bundles/n2ccore/js/bootstrap.min.js'
        'bundles/n2ccore/js/modules/*'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        // Initialize collapse button
        $("#button-collapse").sideNav();
        // Initialize collapsible
        $('.collapsible').collapsible();
    </script>
{% endblock %}
</body>